body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.remove-btn {
  margin-right: 0.5rem;
}

.item-enter {
  transform: translateX(-150px);
}
.item-enter-active {
  transform: translateX(0px);
  transition: all 500ms ease-in;
}
.item-exit {
  opacity: 1;
}
.item-exit-active {
  transform: translateX(-350px);
  transition: all 300ms ease-in;
}

.pagin__wraper {
  margin-top: 30px;
  display: flex;
  /* box-shadow: inset -1px 3px 8px 5px #1f87ff, 2px 5px 16px 0px #0b33, */
    /* 5px 5px 15px 5px rgba(0, 0, 0, 0); */
}


.pagin {
  padding: 5px;
  b
}